@charset "Shift_JIS";

/* ---------------------------------------------------------
 Icon Layout
----------------------------------------------------------*/
/* Arrow -------------------------------------------------*/
.arrow_green
{
	height:100%;
	width:184px;
	margin:5px auto 4px;
	padding:0 0 0 16px;
	background-image:url(../img/icon/arrow_col.jpg);
	background-position:0px 0px;
	background-repeat:no-repeat;
}

.arrow_foot
{
	float:left;
	margin:5px 12px 0 0;
	padding:0 0 10px 12px;
	background-image:url(../img/icon/arrow_tri.gif);
	background-position:1px 1px;
	_background-position:1px 3px;
	background-repeat:no-repeat;
}

#side_stf ul li
{
	width:200px;
	padding:0;
}

.qa_q
{
	background-image:url(../img/faq/faq_q.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	*background-position:0 8px;
	padding:11px 0 13px 43px;
	*padding:14px 0 5px 43px;
}
.qa_a
{
	background-image:url(../img/faq/faq_a.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	*background-position:0 8px;
	padding:15px 0 10px 44px;
	*padding:18px 0 13px 44px;
}

.btn_reset
{
	width: 106px;
	height: 30px;
	border: 0;
	background:url(../img/btn/mail02.gif) no-repeat 0 0;
	text-indent: -9999px;
	cursor: pointer;
}
.btn_submit,.btn_submit_back
{
	width: 106px;
	height: 30px;
	border: 0 none;
	background:url(../img/btn/mail01.gif) no-repeat 0 0;
	text-indent: -9999px;
	_float:left;
	cursor: pointer;
}
.btn_submit_back
{
	background:url(../img/btn/mail04.gif) no-repeat 0 0;
}
