@charset "Shift_JIS";

/*--------------------------------------------------------
 Global Menu Layout
--------------------------------------------------------*/

/*-----------------------------------Navigation Style
*/
#gnavi{
	margin:0;
	padding:0 10px 10px 0;
}
@media all and (min-width: 768px)  {
	#gnavi {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 150px;
		        flex: 0 0 150px;
	}
}
#gnavi ul li{
	display:block;
	padding: 0;
}
#gnavi ul li>*{
	display:block;
	padding:3px;
	background:none repeat scroll 0 0 #FFF;
	color:#B23232;
	font-weight:nomal;
	text-decoration:none;
}
#gnavi ul li>*:hover{
	background-color: #C97070;
	color:#ECCCCC;
	text-decoration:none;
}
#gnavi ul li>#btn_on{
	background-color: #C97070;
	color:#ECCCCC;
	font-weight:bold;
	text-decoration:none;
}