@charset "Shift_JIS";

/*--------------------------------------------------------
 Header Layout
--------------------------------------------------------*/

#area_header {}
#header {}
#header h1 {
	padding: 20px 0;
}
#header h1 img {
	width: 100%;
	max-width: 359px;
}
#header_l {}
#header_r {}
#header_menu {}
